---
import Layout from '@layouts/Layout.astro';
import FAQs from '@components/FAQs.astro';
---

<Layout>
  <h1>Sobre nosotros</h1>
  <p>
    Ningún comienzo es fácil. También nosotros nos hemos encontrado baches en el
    camino; sin embargo, nunca hemos pensado en darnos la vuelta y rendirnos.
    ¿Por qué? Porque cualquier esfuerzo merece la pena para garantizar el
    derecho a la vida de un ser vivo.
  </p>
  <section>
    <h2>Nuestra historia</h2>
    <p>
      Espargats arranca su proyecto en Esparreguera (Barcelona) en 2019, cuando
      un pequeño grupo de voluntarios y voluntarias se reúne para unificar
      fuerzas ante la necesidad de controlar las colonias callejeras felinas de
      nuestra ciudad, y procurar la mejora de las condiciones de vida de estos
      animales.
    </p>
    <p>
      Lo que inicialmente fue un proyecto (CES: Capturar-Esterilizar-Soltar),
      pronto pasó a ser un proyecto mucho más global, ya que fuimos encontrando
      muchos casos de gatos enfermos, malheridos o camadas desprotegidas que no
      podíamos dejar pasar por alto.
    </p>
    <p>
      A partir de ese momento, y con todas las consecuencias, nos lanzamos a
      cubrir muchas otras necesidades de las colonias. Pese a tener poco apoyo
      económico, no nos faltaban ganas, empatía y sentimiento hacia los gatos
      callejeros de nuestra población, ¡y esa es nuestra motivación diaria!
    </p>
  </section>
  <section>
    <h2>El proyecto</h2>
    <p>
      Ahora, nuestro proyecto ha crecido y también nuestro equipo humano, y
      podemos abarcar todo tipo de casos relacionados con el mundo felino.
    </p>
    <ul>
      <li>
        Cuidado y mantenimiento de las colonias de gatos de nuestra localidad
        (Esparreguera)
      </li>
      <li>Gestión mediante el CES</li>
      <li>Mantenimiento y cuidado de los gatos de El Refugi</li>
      <li>
        Contamos con casas de acogida que cuidan de los gatos que pueden
        encontrar un hogar
      </li>
      <li>Participación en eventos solidarios</li>
      <li>Proceso de adopción responsable</li>
    </ul>
  </section>
  <section>
    <h2>Nuestra misión</h2>
    <p>
      Defender, proteger y ayudar a los gatos abandonados o maltratados, con el
      propósito de ofrecerles una vida digna y un hogar donde puedan ser
      felices.
    </p>
    <div>
      <h3>Nuestro objetivo:</h3>
      <ul>
        <li>
          <p>
            Conseguir que los centros municipales de recogida de animales <strong
              >se conviertan en refugios reales o protectoras</strong
            >.
          </p>
        </li>
        <li>
          <p>
            Facilitar el acceso a la información para <strong
              >concienciar a la sociedad sobre la protección animal</strong
            >. Una población informada dejará de fomentar, directa o
            indirectamente, la crueldad, la superpoblación y la exterminio de
            los animales.
          </p>
        </li>
        <li>
          <p>
            Ayudar a los compañeros humanos de los gatos, y a aquellos que
            quieran serlo: es importante <strong
              >entender lo que es compartir tu vida con un animal</strong
            >, la responsabilidad que conlleva y, sobre todo, los grandes
            beneficios que comporta.
          </p>
        </li>
        <li>
          <p>
            Inculcar la adopción como acto de responsabilidad y de amor hacia
            los animales, así como de una forma de vida justa y más
            gratificante. <strong>Adopta, no compres</strong>.
          </p>
        </li>
        <li>
          <p>
            Denunciar los actos de crueldad y maltrato hacia los animales. Y
            luchar contra el abandono de animales: no los abandones.
          </p>
        </li>
        <li>
          <p>
            Promover campañas de <strong>adopción y esterilización</strong>,
            entre otros actos que contribuyan a tener animales de forma
            responsable.
          </p>
        </li>
        <li>
          <p>
            Colaborar con otras asociaciones y protectoras para conseguir <strong
              >mejoras en la defensa y legislación de los derechos de los
              animales</strong
            >.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <FAQs />
</Layout>
