---

---

<section class="py-16">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 max-w-5xl mx-auto px-4 gap-x-16 gap-y-8"
  >
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="rounded-2xl shadow-2xl aspect-video lg:aspect-square w-full object-cover"
    />
    <div class="flex flex-col justify-center">
      <h2
        class="text-3xl md:text-4xl font-bold text-left mb-4 text-primary tracking-tight"
      >
        Quiénes somos
      </h2>
      <p class="text-left text-base-content mb-2 text-lg text-balance">
        Somos una asociación sin ánimo de lucro, formada por voluntarios y
        voluntarias, y creada para gestionar y controlar las colonias de gatos
        de Esparreguera (Barcelona).
      </p>
      <p class="text-left text-base-content text-lg text-balance">
        También rescatamos a gatos que han sido abandonados o que viven en la
        calle y les buscamos un hogar mediante adopciones responsables.
      </p>
    </div>
  </div>
</section>
