---

---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <div class="flex items-center gap-2">
      <img
        src="/espargats-logo.webp"
        alt="Espargats"
        width="120"
        height="40"
        loading="lazy"
        class="h-10 w-auto"
      />
      <p class="text-sm text-primary">
        <span class="font-bold">Espargats</span> - Adoptar salva vidas
      </p>
    </div>
    <p class="text-sm text-base-content/70">
      Asociación protectora de gatos<br />en Esparreguera, Barcelona
    </p>
    <p class="text-sm">625017077</p>
    <p class="text-sm">espargats@gmail.com</p>
  </aside>
  <nav>
    <h6 class="footer-title">Espargats</h6>
    <a class="link link-hover" href="/about">Sobre nosotros</a>
    <a class="link link-hover" href="/adopta">Adopta</a>
    <a class="link link-hover" href="/colabora">Colabora</a>
  </nav>
  <nav>
    <h6 class="footer-title">Social</h6>
    <a
      class="link link-hover"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/espargats">Instagram</a
    >
    <a
      class="link link-hover"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.facebook.com/espargats">Facebook</a
    >
    <a
      class="link link-hover"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.tiktok.com/@espargats.com">TikTok</a
    >
  </nav>
  <!-- <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
    </nav> -->
</footer>
<div class="footer footer-center bg-base-200 text-base-content p-4">
  <p class="text-xs max-w-md">
    Las actividades de Espargats han sido subvencionadas parcialmente por el
    Ministerio de Derechos Sociales y Agenda 2030 y el Ajuntament de
    Esparreguera.
  </p>
</div>
