---

---

<footer class="bg-background">
  <div class="container mx-auto py-8 flex flex-col md:flex-row">
    <div class="flex flex-col md:flex-row items-center">
      <img
        src="https://via.placeholder.com/150"
        alt="Logo Espargats"
        width="150"
        height="150"
      />
      <div class="flex flex-col ml-4 md:ml-8">
        <h3>Espargats</h3>
        <p>Adoptar salva vidas</p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center">
      <div class="flex flex-col">
        <h3>Contacto</h3>
        <p>625017077</p>
        <p>espargats@gmail.com</p>
      </div>
      <div class="flex flex-col">
        <h3>Redes Sociales</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">X</a>
      </div>
    </div>
  </div>
</footer>
