---

---

<header>
  <a href="/">
    <img src="/logo.svg" alt="Espargats" />
  </a>
  <nav>
    <ul>
      <li><a href="/about">Sobre nosotros</a></li>
      <li><a href="/adopta">Adopta</a></li>
      <li><a href="/colabora">Colabora</a></li>
    </ul>
  </nav>
</header>
