---
import { Menu } from '@lucide/astro';
---

<header class="navbar fixed z-10 top-0 glass bg-base-100">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost normal-case text-xl">
      <img src="/espargats-logo.webp" alt="Logo Espargats" class="h-8 w-auto" />
      <span>Espargats</span>
    </a>
  </div>
  <div class="navbar-end">
    <!-- Menú para pantallas grandes -->
    <nav class="hidden lg:flex">
      <ul class="menu
      menu-horizontal
      px-1">
        <li>
          <a href="/about">Sobre nosotros</a>
        </li>
        <li><a href="/adopta">Adopta</a></li>
        <li><a href="/colabora">Colabora</a></li>
      </ul>
    </nav>
    <!-- Menú hamburguesa para móviles -->
    <div class="dropdown dropdown-end lg:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <Menu />
      </label>
      <ul
        tabindex="0"
        class="menu menu-lg dropdown-content z-20 p-4 w-max bg-base-100 rounded-md"
      >
        <li><a href="/about">Sobre nosotros</a></li>
        <li><a href="/adopta">Adopta</a></li>
        <li><a href="/colabora">Colabora</a></li>
      </ul>
    </div>
  </div>
</header>
