---

---

<section>
  <h1>Adoptar salva vidas</h1>
  <p>
    Somos una organización dedicada al rescate, cuidado y adopción de gatos
    callejeros. Cada vida importa, cada historia merece un final feliz.
  </p>
  <a href="/adopta">Adoptar un gato</a>
  <a href="/colabora">Hacer una donación</a>
</section>
