---
import { PawPrint, HeartHandshake, Home } from '@lucide/astro';
---

<section class="py-16 bg-primary-content/10">
  <div class="max-w-4xl mx-auto px-4">
    <h2
      class="text-3xl md:text-4xl font-bold md:text-center mb-4 text-primary tracking-tight"
    >
      Nuestra misi칩n
    </h2>
    <p
      class="md:text-center text-base-content/80 max-w-2xl md:mx-auto mb-10 text-lg"
    >
      Trabajamos para defender, proteger y ayudar a los gatos abandonados o
      maltratados, con el prop칩sito de ofrecerles una vida digna y un hogar
      donde puedan ser felices.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <article
        class="card bg-white shadow-sm border border-base-200 flex flex-col items-center text-center p-0"
      >
        <div class="card-body items-center">
          <span
            class="mb-4 flex items-center justify-center rounded-full bg-primary/10 w-16 h-16"
          >
            <PawPrint size="36" stroke-width="1.5" class="text-primary" />
          </span>
          <h3 class="card-title text-xl font-semibold mb-2">Rescate</h3>
          <p class="text-base-content/80">
            Rescatamos gatos de la calle, abandonados o en situaciones de
            peligro, brind치ndoles un refugio seguro.
          </p>
        </div>
      </article>
      <article
        class="card bg-white shadow-sm border border-base-200 flex flex-col items-center text-center p-0"
      >
        <div class="card-body items-center">
          <span
            class="mb-4 flex items-center justify-center rounded-full bg-primary/10 w-16 h-16"
          >
            <HeartHandshake size="36" stroke-width="1.5" class="text-primary" />
          </span>
          <h3 class="card-title text-xl font-semibold mb-2">Cuidado</h3>
          <p class="text-base-content/80">
            Cuidamos y mantenemos de las colonias de gatos de nuestra localidad
            y proporcionamos acogida a los gatos que pueden encontrar un hogar.
          </p>
        </div>
      </article>
      <article
        class="card bg-white shadow-sm border border-base-200 flex flex-col items-center text-center p-0"
      >
        <div class="card-body items-center">
          <span
            class="mb-4 flex items-center justify-center rounded-full bg-primary/10 w-16 h-16"
          >
            <Home size="36" stroke-width="1.5" class="text-primary" />
          </span>
          <h3 class="card-title text-xl font-semibold mb-2">Adopci칩n</h3>
          <p class="text-base-content/80">
            Encontramos familias responsables y amorosas que brinden un hogar
            permanente a nuestros gatos.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
